@font-face {
   font-family: 'Rubik';
   src: url('../fonts/Rubik-Medium.woff2') format('woff2'),
      url('../fonts/Rubik-Medium.woff') format('woff');
   font-style: normal;
   font-weight: 500;
   font-display: swap;
}

@font-face {
   font-family: 'Rubik';
   src: url('../fonts/Rubik-SemiBold.woff2') format('woff2'),
      url('../fonts/Rubik-SemiBold.woff') format('woff');
   font-style: normal;
   font-weight: 600;
   font-display: swap;
}

@font-face {
   font-family: 'Rubik';
   src: url('../fonts/Rubik-Bold.woff2') format('woff2'),
      url('../fonts/Rubik-Bold.woff') format('woff');
   font-style: normal;
   font-weight: 700;
   font-display: swap;
}

@font-face {
   font-family: 'Exo 2';
   src: url('../fonts/Exo2-Medium.woff2') format('woff2'),
      url('../fonts/Exo2-Medium.woff') format('woff');
   font-style: normal;
   font-weight: 500;
   font-display: swap;
}

@font-face {
   font-family: 'Exo 2';
   src: url('../fonts/Exo2-Bold.woff2') format('woff2'),
      url('../fonts/Exo2-Bold.woff') format('woff');
   font-style: normal;
   font-weight: 700;
   font-display: swap;
}

html {
   scroll-behavior: smooth;
}

body {
   background: #EAEAEA;
   font-family: 'Exo 2', sans-serif;
   font-weight: 500;
   font-size: 16px;
   line-height: 19px;
   color: #202020;
}

.wrapper {
   position: relative;
   overflow: hidden;
}

section {
   margin-bottom: 90px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: 'Rubik', sans-serif;
}

h1 {
   font-weight: 700;
   font-size: 98px;
   line-height: 116px;
   text-transform: uppercase;
}

h3 {
   font-weight: 600;
   font-size: 40px;
   line-height: 47.4px;
}

button {
   padding: 12px 40px;
   color: #EAEAEA;
   background: transparent;
   border: 1px solid #EAEAEA;
   border-radius: 10px;
   transition: all 0.5s;

   &:hover {
      background: #EAEAEA;
      color: #202020;
      border-color: #202020;
   }
}

input {
   padding: 12px 0 12px 20px;
   background: transparent;
   color: #fff;
   border: 1px solid #A0A0A0;
   border-radius: 10px;
   font-family: 'Exo 2', sans-serif;
   font-weight: 500;
   position: relative;

   &:focus {
      padding: 17px 0 7px 20px;
      color: #fff;
      border-color: #fff;
   }

   &:focus::placeholder {
      position: absolute;
      top: 4px;
      color: #A0A0A0;
      font-size: 10px;
      line-height: 12px;
   }
}

.container {
   max-width: 1120px;
   margin: 0 auto;
   padding: 0 5px;
}

.logo {

   &__link {}

   &__img {}

   &__img-mobile {
      display: none;
   }
}

.header {}

.menu {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 30px 0;

   &__link {
      font-family: 'Rubik', sans-serif;
      font-weight: 500;
   }

   &__btn-mobile {
      display: none;
   }
}

.mobile-menu {
   display: none;
}

.landing {
   padding: 40px 0 120px;
   color: #EAEAEA;
   background: #202020;

   &__container {
      position: relative;
   }

   &__title {
      width: 555px;
      margin-bottom: 40px;
   }

   &__subtitle {
      width: 353px;
      margin-bottom: 65px;
   }

   &__link {}

   &__link-btn {}

   &__img {
      position: absolute;
      right: -505px;
      top: 11px;
   }
}

.advantages {

   &__inner {
      display: flex;
      justify-content: space-between;
   }

   &__box {
      width: 350px;
      height: 245px;
      padding: 30px;
      background: #fff;
      border-radius: 16px;
   }

   &__title {
      width: 255px;
      margin-bottom: 53px;
      color: #202020;
   }

   &__text {}
}

.deliveries {
   color: #EAEAEA;

   &__inner {
      display: flex;
      justify-content: space-between;
      background: #202020;
      border-radius: 16px;
   }

   &__left {
      max-width: 384px;
      padding: 30px;
   }

   &__title {
      margin-bottom: 30px;
   }

   &__text {
      margin-bottom: 20px;

      &:nth-last-child(2) {
         margin-bottom: 60px;
      }
   }

   &__link {}

   &__link-btn {
      width: 100%;
   }

   &__right {
      width: 100%;
      height: 374px;
      background-image: url(../images/deliveries-box.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border-radius: 16px;
   }

   &__img {}
}

.partners {
   color: #202020;

   &__title {
      margin-bottom: 30px;
   }

   &__logos {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__link {}

   &__link-img {}
}

.orders {
   background: #202020;
   color: #EAEAEA;

   &__container {
      position: relative;
   }

   &__inner {
      width: 293px;
      margin: 0 auto;
      padding: 138px 0 280px;
   }

   &__title {
      margin-bottom: 30px;
   }

   &__input {
      width: 100%;
      margin-bottom: 10px;
   }

   &__link {
      display: block;
      margin-top: 15px;
   }

   &__link-btn {
      width: 100%;
   }

   &__img {
      position: absolute;
   }

   &__img-left {
      height: 70%;
      left: -345px;
      top: -30px;
   }

   &__img-right {
      height: 61%;
      right: -268px;
      top: 70px;
   }

   &__img-bottom {
      bottom: -180px;
      left: 382px;
   }
}

.footer {
   padding: 40px 0 75px;

   &__inner {
      display: flex;
      justify-content: space-between;
      margin-bottom: 90px;
   }

   &__left {
      width: 422px;
      display: flex;
      justify-content: space-between;
   }

   &__sections {}

   &__sections-link,
   &__contacts-link {
      display: block;
      margin-bottom: 20px;

      &:nth-last-child(1) {
         margin-bottom: 0;
      }
   }

   &__sections-link {}

   &__contacts {}

   &__contacts-link {}

   &__right {
      width: 276px;
      display: flex;
   }

   &__apps {}

   &__apps-link {
      display: inline-block;
      height: 47px;
      margin-bottom: 10px;

      &:nth-last-child(1) {
         margin-bottom: 0;
      }
   }

   &__apps-img {}

   &__qrcode-link {}

   &__qrcode-img {}

   &__circa {
      font-weight: 700;
   }

   &__circa-mobile {
      display: none;
   }
}

@media (max-width: 1135px) {

   section {
      margin-bottom: 60px;
   }

   h1 {
      font-size: 72px;
      line-height: 82px;
   }

   h3 {
      font-size: 30px;
      line-height: 36px;
   }

   .container {
      max-width: 1120px;
      padding: 0 50px;
   }

   .landing {
      padding-bottom: 60px;

      &__img {
         height: 110%;
         right: -170px;
      }
   }

   .advantages {

      &__box {
         max-width: 270px;
         height: 205px;
         padding: 20px;
      }

      &__title {
         width: 185px;
         margin-bottom: 33px;
      }

      &__text {
         width: 200px;
      }
   }

   .deliveries {

      &__left {
         max-width: 384px;
      }
   }

   .orders {

      &__inner {
         position: relative;
         width: 250px;
         margin: 0 auto;
         padding: 75px 0 140px;
      }

      &__img-left {
         height: 80%;
         left: -140px;
         top: -30px;
      }

      &__img-right {
         height: 71%;
         right: -100px;
         top: 70px;
      }

      &__img-bottom {
         height: 45%;
         bottom: -100px;
         left: 4px;
      }
   }

   .footer {
      padding: 0 0 25px;

      &__inner {
         margin-bottom: 40px;
      }

      &__left {
         width: 350px;
      }

      &__sections-link,
      &__contacts-link {
         margin-bottom: 10px;

         &:nth-last-child(1) {
            margin-bottom: 0;
         }
      }
   }
}

@media (max-width: 970px) {

   section {
      margin-bottom: 60px;
   }

   h1 {
      font-size: 56px;
      line-height: 62px;
   }

   h3 {
      font-size: 30px;
      line-height: 35.55px;
   }

   .container {
      max-width: 1120px;
      padding: 0 50px;
   }

   .menu {
      padding: 15px 0;
   }

   .landing {
      padding-bottom: 60px;
   }

   .advantages {

      &__box {
         max-width: 220px;
         height: 185px;
         padding: 15px;
      }

      &__title {
         width: 185px;
         margin-bottom: 33px;
      }

      &__text {
         width: 180px;
      }
   }

   .deliveries {

      &__left {
         max-width: 303px;
      }

      &__title {
         margin-bottom: 20px;
      }

      &__text {
         margin-bottom: 15px;

         &:nth-last-child(2) {
            margin-bottom: 20px;
         }
      }
   }

   .orders {

      &__inner {
         padding-bottom: 80px;
      }

      &__img-left {
         height: 65%;
         top: -20px;
      }

      &__img-right {
         height: 56%;
      }

      &__img-bottom {
         height: 35%;
         bottom: -90px;
         left: 43px;
      }
   }

   .footer {
      padding: 0 0 25px;

      &__inner {
         margin-bottom: 40px;
      }

      &__left {
         width: 300px;
      }
   }
}

@media (max-width: 810px) {

   section {
      margin-bottom: 50px;
   }

   h1 {
      font-size: 40px;
      line-height: 47.4px;
   }

   h3 {
      font-size: 30px;
      line-height: 35.55px;
   }

   .container {
      max-width: 800px;
      padding: 0 15px;
   }

   .menu {
      position: relative;

      &__link {
         display: none;
      }

      &__btn-mobile {
         display: block;
         border: none;
         padding: 0;
         color: transparent;
         background: transparent;

         &:hover {
            background: transparent;
            color: transparent;
            border: none;
         }
      }
   }

   .logo {

      &__img {
         display: none;
      }

      &__img-mobile {
         display: block;
      }
   }

   .mobile-menu {
      display: block;
      width: 60%;
      height: 100%;
      right: 0;
      z-index: 1;
      padding: 75px 30px;
      position: absolute;
      color: #EAEAEA;
      background: rgba($color: #202020, $alpha: 0.9);

      &__sections {}

      &__sections-link {
         display: block;
         margin-bottom: 15px;
         position: relative;

         &::after {
            content: '';
            position: absolute;
            height: 1px;
            width: 100%;
            bottom: 0;
            left: 0;
            background-color: #EAEAEA;
         }
      }

      &__btn {
         position: absolute;
         right: 16px;
         top: 23px;
         border: none;
         padding: 0;

         &:hover {
            background: transparent;
         }
      }

      &__btn-img {}
   }

   .mobile-menu--close {
      display: none;
   }


   .landing {
      padding: 31px 0 45px;

      &__title {
         font-size: 40px;
         line-height: 47px;
         margin-bottom: 15px;
      }

      &__subtitle {
         font-size: 20px;
         line-height: 23.7px;
         margin-bottom: 40px;
      }

      &__link {
         display: block;
      }

      &__link-btn {
         width: 40%;
      }

      &__img {
         height: 130%;
         top: -10px;
         right: -100px;
      }
   }

   .deliveries {

      &__inner {
         flex-direction: column-reverse;
      }

      &__left {
         max-width: 780px;
      }

      &__right {
         margin: 0 auto;
      }
   }
}

@media (max-width: 740px) {
   .landing {
      padding-top: 161px;

      &__title {
         width: 227px;
      }

      &__link-btn {
         width: 100%;
      }

      &__img {
         top: -140px;
      }
   }

   .advantages {

      &__inner {
         display: block;
      }

      &__box {
         max-width: 710px;
         width: 100%;
         height: 230px;
         margin-bottom: 25px;
         padding: 30px 25px;
      }

      &__text {
         width: 200px;
      }
   }

   .deliveries {

      &__left {
         padding: 15px;
      }

      &__right {
         height: 268px;
      }
   }

   .partners {
      margin-bottom: 30px;

      &__title {
         margin-bottom: 10px;
      }

      &__logos {
         display: flex;
         flex-wrap: wrap;
         justify-content: space-around;
      }

      &__link {
         display: block;
         padding: 20px;
      }
   }

   .orders {

      &__img-left,
      &__img-right {
         display: none;
      }

      &__inner {
         width: 344px;
         padding-bottom: 172px;
      }

      &__img-bottom {
         height: 39%;
         left: 55px;
         bottom: -80px;
      }
   }

   .footer {
      padding-top: 40px;

      &__inner {
         flex-direction: row-reverse;
      }

      &__left {
         justify-content: center;
      }

      &__sections {
         display: none;
      }

      &__contacts-link {
         margin-bottom: 15px;
      }

      &__right {
         justify-content: center;
      }

      &__apps {
         width: 158px;
      }

      &__qrcode-link {
         display: none;
      }

      &__qrcode-img {
         display: none;
      }

      &__circa {
         display: none;
      }

      &__circa-mobile {
         display: block;
         margin-top: 36px;
         font-weight: 700;
      }
   }
}

@media (max-width: 640px) {
   .landing {
      padding-top: 311px;

      &__img {
         top: -310px;
      }
   }

   .orders {
      &__inner {
         width: 100%;
      }

      &__img-bottom {
         left: 50%;
         margin-left: -104px;
      }
   }
}